<!DOCTYPE html>
<html>
  <head>
    <title>LensDesafio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "breakpoints.min.js" %>
    <%= javascript_include_tag "main.js" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "browser.min.js" %>
    
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    <div id="main">
      <%= render "layouts/header"%>
      <%= yield %>
      <%= render "layouts/footer"%>
    </div>
  </body>
</html>
